---
export interface Props {
	title: string;
	body: string;
	href: string;
	author: string;
	date: string;
}

const { href, title, body, author, date } = Astro.props;

// translate href
const translatedHref = "/articles/" + href.split("/")[3]
---

<li class="article">
	<div>
		
		<h2><a href={translatedHref}>{title}</a></h2>
	</div>
	<div class="article-info">
		<span>{author}</span> <span>{date}</span>
	</div>
	<div class="article-content"> <span set:html={body.replace(/[\[&#8230;\]]/g, "")}></span> {body.includes("[&#8230;]") ? (<a href={translatedHref}>...</a>) : ""}</div>
</li>

<style>
	.article {
		list-style: none;
		width: 43vw;
		height: fit-content;
		border-radius: 10px;
		border: var(--font-color) 1px solid;
		padding: .4em;
		margin: 2em;
	}

	.article > div > h2 {
		margin-top: 0px;
		text-align: center;
	}

	.article > div > h2 > a {
		color: var(--font-color);
		text-decoration: none;
	}

	.article > div {
		margin: .2em;
		margin-bottom: 1em;
	}

	.article-content {
		margin-bottom: 0px;
	}

	.article > div > a {
		text-decoration: none;
		color: aquamarine;
	}

	.article-info {
		display: flex;
		justify-content: space-between;
		width: 100%;
		flex-direction: row;
		font-weight: 600;
	}
</style>