---
interface Props {
    title?: string;
    src: string;
    href?: string;
    size?: number;
    ariaHidden?: boolean;
    blank?: boolean;
}

const { title, src, href, size, ariaHidden, blank} = Astro.props;

const target = blank?"_blank noopener noreferer":undefined;
---

{href?<a href={href} title={title} style={"--icon-src: url(/icons" + src + "); --size: " + (size?size:1) + "em;"} target={target} aria-hidden={ariaHidden}></a>:<i title={title} aria-hidden={true} style={"--icon-src: url(/icons" + src + "); --size: " + (size?size:1) + "em;"}></i>}

<style type="scss">
    * {
        color: black;
        text-decoration: none;
        font-size: 1.5em;

        &::before {
            content: "";
            font-size: initial;
            display: inline-block;
            width: var(--size);
            height: var(--size);
            background: no-repeat;
            background-image: var(--icon-src);
        }
    }

    @media (prefers-color-scheme: dark) {
        * {
            filter: invert(1);
        }
    }
</style>
